<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
   <?define TraySource=$(sys.CURRENTDIR)..\AmalgamClientTray\bin\Release ?>

   <Fragment>
      <DirectoryRef Id="ClientDIR" />

      <Property Id="DOKANINSTALLED" >
         <RegistrySearch Id="IsDokanServiceInstalled" Root="HKLM" Key="SYSTEM\CurrentControlSet\services\Dokan" Name="DisplayName" Type="raw" />
      </Property>

      <Property Id="DOKANVERCHECK32">
         <DirectorySearch Id="Dokan.sys.version" Path="[SystemFolder]\Drivers">
            <!--Make sure that the min / max _straddle_ the actual version..  Check for 0.6.0 x32 Size -->
            <!-- It appears that there is yet another version for Windows 7 x32  (95744?)!! -->
            <!-- Win2k3 R2 (x32) size = 96,256 Bytes -->
            <!-- WinXP SP3 (x32) size = 91,904 Bytes -->
            <FileSearch Name="Dokan.sys" MinSize="91903" MaxSize="96257" />
         </DirectorySearch>
      </Property>
      <Property Id="DOKANVERCHECK64">
         <DirectorySearch Id="Dokan.sys64.version" Path="[System64Folder]\Drivers">
            <!--Make sure that the min / max _straddle_ the actual version.. Check for 0.6.0 x64 Size -->
            <!-- Win 7 x64 = 120,408 Bytes -->
            <!-- Win2k8 R2 = 120,408 Bytes -->
            <FileSearch Name="Dokan.sys" MinSize="120407" MaxSize="120409" />
         </DirectorySearch>
      </Property>

      <Condition Message="This application requires Dokan Ver 0.6.0.">
         <![CDATA[Installed OR (DOKANVERCHECK64 AND VersionNT64) OR (DOKANVERCHECK32 AND NOT VersionNT64)]]>
      </Condition>

      <!--Some test conditions to allow the installer to run-->
      <Condition Message="Dokan.sys Driver Is Not Installed in the SYSTEM\CurrentControlSet\services registry correctly!">
         <![CDATA[Installed OR DOKANINSTALLED]]>
      </Condition>

      <ComponentGroup Id="Extras" >
         <Component Id="DokanNet.dll" Directory="ClientDIR">
            <File Source="$(var.TraySource)\DokanNet.dll" KeyPath="yes" />
         </Component>
      </ComponentGroup>
   </Fragment>
</Wix>