<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
   </configSections>

   <!-- Stick the namespaces in .. this is supposed to allow the intellisense to work ;-) -->
   <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
      <variable name="LogDir" value="${specialfolder:folder=ApplicationData}/AmalgamClientTray/Logs"/>
      <targets>
         <target name="file" xsi:type="File"
                 layout="${longdate}[${threadid}][${threadname}] ${level:uppercase=true} ${logger}: ${message} ${exception:format=ToString}"
                 fileName="${LogDir}/AmalgamClientTray.log"
                 archiveFileName="${LogDir}/AmalgamClientTray.{#}.log"
                 archiveAboveSize="1048576"
                 archiveNumbering="Rolling"
                 maxArchiveFiles="5">
         </target>
      </targets>

      <rules>
         <logger name="*" minlevel="Debug" writeTo="file"/>
      </rules>
   </nlog>
   <connectionStrings>
      <add name="AmalgamClientTray.Properties.Settings.Salt" connectionString="Dk8NMkEWgSkj1LVDBb8p87f48VL5CUcjwgakYMBlwpP0nVPTFN+1HLzUlvlPP1SidIy8ok3XUMHaeWS0K+/8gNvSgDrpseFPY75GwTxRGf9EBnXiEiENyKhkfPRLR2YzKXEu6UW44oI6k98Y+L+f6PizmXOOkn5UBDh8l0qZeZGYYfAU9jHjZq0RRKymbGV1/bsNxFgdoucRqmgvGEm9OOAryGSaEYpiV74vqM0O/sItO5W69GQJ1/pV+JeuTzpjSSIalCF8gfuO6cuZiNjWsHE7JrqzhYLlnzttpENqLcT20tZ+3hgcBDya83fen+eI2zxAnoEIOgq5hv67DlnLdUu/923kzamfnk4cLupN9mqgQIETGRymEXKxMwzNo44ifD2XPRMul4pK87TvHlj7IPCgIKbbCeUH06IV/dAl1+gnBKa3Q+5V2f9usq5beMl4z7fAoh8TVAZ6e3/YaUahbMGFEY9v10sd8soxqhSBp91GYyH/i5OYHE1HTWFqDIMmApk48jCXFVwSGjiSrM8V/LHC9h+PmP02jO75CAjE+YXT5fKtGRp+qgMBTONWFZMqFxPOg+XEyDzbmbZnasUr1KYWkBX6Pv3kqs8VrSRA7ECH2M9FF6s7aAJobj+it0CPRbld02FZgRn35HlOByzgSNbGd8+VFlEk+KEE77rctwiCSrKbdyE828GbIhl2jnjuIXoNLTqNtzz9cW16xSpMPrhBJLttEESELf/H75z9uZR74NyPQ6E81Mofj8nU6b/u" />
   </connectionStrings>
</configuration>